
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.top{
    background-color: rgb(43, 44, 54);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px 100px ;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo{
    font-weight: 600;
}

.intro{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 50px 0px;
}

ul{
    display: flex;
    list-style-type: none;
}

.links{
    display: flex;
    gap: 12px;
    font-size: 12px;
}

a{
    text-decoration: none;
}

a:link,
a:visited{
    color: gray;
}

a:active{
    color: rgb(101, 101, 101);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 250px;
    height: 165px;
    font-size: 12px;
    background-color: gray;
}

.content{
    flex: 1;
    
}

.text{
    font-size: 32px;
    font-weight: 600;
}

.subtext{
    font-size: 14px;
    margin-bottom: 5px;
}

button{
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 2px 19px;
    border-radius: 5px;
    border-style: none;
}
